<div>
    <app-major></app-major>
    <app-major2></app-major2>
    <app-villager></app-villager>
    <app-villager2></app-villager2>
    <app-hero></app-hero>
    <app-hero2></app-hero2>
    <app-monster></app-monster>
    <app-monster2></app-monster2>
    <app-soldier></app-soldier>
    <app-soldier2></app-soldier2>
    <app-policeman></app-policeman>
    <app-policeman2></app-policeman2>
    <app-farmer></app-farmer>
    <app-farmer2></app-farmer2>
    <app-story 
      [majorName]="majorName" 
      [major2Name]="major2Name" 
      [villagerName]="villagerName" 
      [villager2Name]="villager2Name" 
      [superheroName]="superheroName"
      [superhero2Name]="superhero2Name"
      [monsterName]="monsterName"
      [monster2Name]="monster2Name"
      [soldierName]="soldierName"
      [soldier2Name]="soldier2Name"
      [policemanName]="policemanName"
      [policeman2Name]="policeman2Name"
      [farmerName]="farmerName"
      [farmer2Name]="farmer2Name">
    </app-story>
  </div>
  